{{define "index"}}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Rap-C :: 404 - Not Found</title>
    <link href="/assets/css/sb-admin-2.min.css" rel="stylesheet" />

    <style type="text/css">
      #error{
        background-color:#DFC7B6;
        min-height:100vh;
        padding:2rem 0
      }

      #error .img-error{
        height:400px;
        -o-object-fit:contain;
        object-fit:contain;
        padding:3rem 0
      }

      #error .error-title{
        font-size:3rem;
        margin-top:1rem
      }
      
    </style>
</head>

<body>
    <div id="error">
        <div class="error-page container">
            <div class="col-md-8 col-12 offset-md-2">
                <div class="text-center">
                  <h1 class="error-title">NOT FOUND</h1>
                  <img class="img-error" src="/assets/images/not-found.png" alt="Not Found" />
                    <p class="fs-5 text-capitalize">
                      {{.message}}
                    </p>
                    <a href="/" class="btn btn-lg btn-outline-dark mt-3">Go Home</a>
                </div>
            </div>
        </div>
    </div>
</body>

</html>
{{end}}