<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Centered Card</title>
  <link href="/assets/css/sb-admin-2.min.css" rel="stylesheet" />
  <style>
    .full-height {
      height: 100vh;
    }
  </style>
</head>
<body>
  <div class="d-flex justify-content-center align-items-center full-height">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title">Card title</h5>
        <p class="card-text">{{.user.Username}}</p>
        <p class="card-text">{{.user.FullName}}</p>
        <p class="card-text">{{.user.Email}}</p>
        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
        <a href="#" class="btn btn-primary" onclick="document.getElementById('frmlogout').submit()">Go somewhere</a>
      </div>
    </div>
  </div>

  <form method="post" action="/submit-logout" id="frmlogout" style="display: none;">
  </form>

  <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.6.0/js/bootstrap.min.js"></script>
</body>
</html>
