{{define "sidebar-menu.html"}}
<ul class="navbar-nav bg-gradient-rapc-menu sidebar sidebar-dark accordion" id="accordionSidebar">

    <!-- Sidebar - Brand -->
    <a class="sidebar-brand d-flex align-items-center justify-content-center" href="index.html">
        <div class="sidebar-brand-icon rotate-n-15">
            <img src="/assets/images/logo-s.png" alt="" />
        </div>
        <div class="sidebar-brand-text mx-3">{{.layouts.AppName}}</div>
    </a>

    {{range $index, $group := .layouts.SidebarMenus}}
    <!-- Divider -->
    <hr class="sidebar-divider {{if eq $index 0}} my-0 {{end}}">

    <!-- group name -->
    {{if ne $group.GroupName ""}}
    <div class="sidebar-heading">
        {{$group.GroupName}}
    </div>
    {{end}}

    {{range $menu := $group.Items}}
    <!-- Nav Item - {{$menu.Key}} -->
    <li class="nav-item {{if $menu.IsActive}} active {{end}}">
        {{if eq (len $menu.SubMenus) 0}}
        <a class="nav-link" href="{{$menu.Href}}">{{$menu.Html}}</a>
        {{else}}
        <a class="nav-link" href="#" data-toggle="collapse" data-target="#sub-menu-{{$menu.Key}}" aria-expanded="true"
            aria-controls="sub-menu-{{$menu.Key}}">{{$menu.Html}}</a>
        <div id="sub-menu-{{$menu.Key}}" class="collapse {{if $menu.IsActive}} show {{end}}"
            aria-labelledby="heading{{$menu.Key}}" data-parent="#accordionSidebar">
            <div class="bg-rapc-light py-2 collapse-inner rounded">
                {{range $subMenu := $menu.SubMenus}}
                <a class="collapse-item {{if $subMenu.IsActive}} active {{end}}"
                    href="{{$subMenu.Href}}">{{$subMenu.Html}}</a>
                {{end}}
            </div>
        </div>
        {{end}}
    </li>
    {{end}}


    {{end}}




    <!-- Divider -->
    <hr class="sidebar-divider d-none d-md-block">

    <!-- Sidebar Toggler (Sidebar) -->
    <div class="text-center d-none d-md-inline">
        <button class="rounded-circle border-0" id="sidebarToggle"></button>
    </div>
</ul>
{{end}}